body{
  margin: 0%;
  color: black;
}

.container{
  margin-left: 300px;
  width: 35rem;
  height: auto;
  display: flex;
  min-height: 500px;
  background-color: blue;
}

#logo
{
  background-image: url("../img/Pokeball.png");  
  height: 300px;
  width: 100px;
  background-repeat: no-repeat;
  background-color: aqua;
}

input{
  width: 20rem;
  padding: 7px  10px;
  display: flex;
  text-align: center;
  background-color: #ffff;
  color: black;
  border: 1px solid #e0e0e0;
  border-radius: 9px;
  align-content: flex-end;
}